<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Faucet for Shannon</title>
  <meta name=”robots” content="index, follow">
  <meta name="description" content="Uniform Faucet Tool For Poktroll">
  <link rel="icon"
    href="https://assets-global.website-files.com/651fe0a9a906d151784935f8/65834b8745b60c35c76cab89_Logo-black.svg">
  <meta>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<style>
  .nav-link {
    border-bottom: 5px solid transparent;
    color: aliceblue;
    margin: 0 5px;
    font-weight: 300;
  }

  .nav-link:hover {
    color: #698DFF;
  }

  .active {
    color: #698DFF;
  }

  body {
    color: aliceblue;
  }

  .input-control:focus {
    border-color: #698DFF;
    box-shadow: inset 0 1px 1px rgba(39, 169, 224, 0.075), 0 0 8px rgba(39, 169, 224, 0.6);
  }

  button {
    color: aliceblue;
  }

  .accordion-button::after {
    filter: invert(100%);
  }

  .accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
  }

  div {
    color: aliceblue;
  }

  .pill {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 0.9rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    /* Blue color */
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .processing-bar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
</style>
</head>

<body style="background-color: #231f20;">
  <div id="app">
    <main class="container-sm mx-auto col-xl-6 col-lg-6 col-md-12 col-12">
      <div class="container text-center mt-3">
        <div class="row">
          <div class="col-sm align-items-center d-flex">
            <img id="logo" class="d-block" style="max-width: 200px;" src="<%= project.logo %>"
              :alt="`${testnet} Faucet`">
            <div class="pill" :style="`display: ${!this.isBeta ? 'none' : ''}`">beta</div>
          </div>
          <div class="col-sm align-items-center d-flex justify-content-end">
            <div style="flex-direction: row; display: flex; width: 80%; justify-content: space-between;">
              <a v-bind:class="[path === '/' ? 'active':'', 'nav-link']" href="#">Home</a>
              <a class="nav-link" href="https://www.pokt.network/about" target="_blank">About</a>
              <a class="nav-link" href="https://www.pokt.network/blog" target="_blank">Blog</a>
              <a class="nav-link" href="https://docs.pokt.network/" target="_blank">Documentation</a>
            </div>
          </div>
        </div>
        <p class="col-sm align-items-center d-flex text-start"
          style="margin-top: 25%; font-size: 54px; font-weight: bold; line-height:normal;">
          SHANNON TESTNET<br>FAUCET
        </p>
        <p class="col-sm align-items-center d-flex text-start" style="font-size: 20px;">
          Get free uPOKT delivered to your wallet effortlessly<br>
          for a smooth and productive development.
        </p>
        <div class="d-flex flex-row col-12">
          <input id="address" class="rounded-left input-control mt-4 col-lg-8 col-md-8 col-xl-8 col-7 p-2"
            placeholder="Enter your wallet address" v-model="address" name="address" />
          <button type="button"
            class="rounded-right btn btn-primary d-flex flex-row mt-4 col-lg-4 col-md-4 col-xl-4 col-5 align-items-center justify-content-center"
            style="padding: 5px 20px; background-color: #698DFF; border-top-left-radius: 0px; border-bottom-left-radius: 0px;"
            @click="requestToken(this)">
            <span>Send {{ this.txAmount }} POKT</span>
          </button>
        </div>
        <div id="processing-bar" class="processing-bar" v-if="isProcessing">
          <span>We'll notify you shortly. Transaction processing...</span>
        </div>
        <!-- Modal for messages -->
        <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel" style="color: black;">Transaction Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" v-html="message"></div>
            </div>
          </div>
        </div>
        <h2 class="col-sm d-flex align-items-center" style="margin-top: 30%;">
          Frequently Asked Questions (FAQs)
        </h2>
        <div style="margin-top: 2%; background-color: #443c3e; padding: 5px; border-radius: 10px; margin-bottom: 30px;">
          <div class="accordion accordion-flush  border-0" id="accordionFlushExample"
            style="background-color: #443c3e;">
            <div v-for="FAQ in FAQs" class="accordion-item overflow-hidden border-0"
              style="background-color: #443c3e; border:none!important;">
              <h2 class="accordion-header overflow-hidden border-0" :id="FAQ.id">
                <button class="accordion-button collapsed overflow-hidden border-0"
                  style="background-color: #443c3e; color: white; border: none;" type="button" data-bs-toggle="collapse"
                  :data-bs-target="'#' + FAQ.id2" aria-expanded="false" :aria-controls="FAQ.id2">
                  {{FAQ.question}}
                </button>
              </h2>
              <div :id="FAQ.id2" class="accordion-collapse collapse overflow-hidden border-0" :aria-labelledby="FAQ.id"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body overflow-hidden border-0 text-start" v-html="FAQ.answer"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FAQs -->

    </main>


  </div>
  <script type="module">
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    createApp({
      data() {
        return {
          message: '',
          testnet: 'Ping Testnet',
          logo: 'https://assets-global.website-files.com/651fe0a9a906d151784935f8/65834aed8fd922fc4829817f_Logo-wordm-white.svg',
          deployer: '',
          address: '',
          chain: '',
          conf: {},
          isBeta: false,
          balance: {},
          txAmount: '',
          ethAddr: '0xxxx',
          path: window.location.pathname,
          FAQs: [
            {
              "question": "What is a faucet?",
              "answer": "A faucet serves as a tool for distributing test tokens, which, unlike mainnet tokens, lack intrinsic value and cannot be traded or used on the primary blockchain network. These tokens are solely intended for experimentation, smart contract development, and testing purposes.",
              "id": "flush-headingOne",
              "id2": "flush-collapseOne",
            },
            {
              "question": "How does the faucet work?",
              "answer": `Enter your Pocket Network wallet address in the designated textbox field and click 'Send 10 POKT'. The faucet will generate a transaction and send the testnet tokens to the provided address. If you're interested, you can monitor the transaction's status using a blockchain explorer or an RPC endpoint.`,
              "id": "flush-headingTwo",
              "id2": "flush-collapseTwo",
            },
            {
              "question": "How do I create a new account (wallet)?",
              "answer": `Follow the instructions here: <a href='https://dev.poktroll.com/operate/user_guide/create-new-wallet' target='_blank'>https://dev.poktroll.com/operate/user_guide/create-new-wallet</a>.`,
              "id": "flush-headingThree",
              "id2": "flush-collapseThree",
            },
            {
              "question": "Is there a daily rate limit on token requests?",
              "answer": "Yes, each Pocket Wallet address can request only 2 times per 24 hours.",
              "id": "flush-headingFour",
              "id2": "flush-collapseFour",
            },
            {
              "question": "What if I want more than the allowed token amount?",
              "answer": "To prevent abuse and ensure fair distribution of test tokens, there's a rate limit on the number of request each wallet address can request.",
              "id": "flush-headingFive",
              "id2": "flush-collapseFive",
            },
            {
              "question": "What should I do if my request continues to fail?",
              "answer": "To avoid being mistakenly identified as a bot, please avoid frequent operations and wait a few minutes before trying the next action. If problems persist, don't hesitate to seek assistance on the <a href='https://discord.gg/pokt' target='_blank'>Pocket Network Discord channel.</a>",
              "id": "flush-headingSix",
              "id2": "flush-collapseSix",
            },
            {
              "question": "How do I begin building Web3 Apps on Pocket Network?",
              "answer": "You can get started by visting <a href='https://www.pokt.network' target='_blank'>https://www.pokt.network</a>",
              "id": "flush-headingSeven",
              "id2": "flush-collapseSeven",
            },
            {
              "question": "Have additional questions or feedback?",
              "answer": "We're keen to hear from you. Help us enhance our services by initiating a conversation on our <a href='https://discord.gg/pokt' target='_blank'>Discord server.</a>",
              "id": "flush-headingEight",
              "id2": "flush-collapseEight",
            }
          ],
          isProcessing: false,
        }
      },
      created() {
        fetch("/config.json").then(response => response.json()).then(data => {
          this.conf = data
          this.chain = data.blockchains[0]
          this.txAmount = data.txAmount
          this.isBeta = data.isBeta
          this.FAQs[1].answer = `Enter your Pocket Network wallet address in the designated textbox field and click 'Send ${this.txAmount} POKT'. The faucet will generate a transaction and send the testnet tokens to the provided address. If you're interested, you can monitor the transaction's status using a blockchain explorer or an RPC endpoint.`
          // this.placeholder = `Input an address (e.g.: ${data.sample[this.chain]}) to received tokens`
          this.onChange();
        });
      },
      computed: {
        placeholder() {
          if (this.conf.sample) {
            return `Input an address (e.g.: ${this.conf.sample[this.chain]}) to received tokens`
          } else {
            return 'Input an address to received tokens'
          }
        },
        faucet() {
          return this.conf.sample ? this.conf.sample[this.chain] : ''
        }
      },
      methods: {
        onChange() {
          // this.balance = {} // reset balance
          // fetch(`/balance/${this.chain}`).then(r => r.json()).then(balance => {
          //   this.balance = balance
          // })
        },
        requestToken(obj) {
          if (this.address) {
            this.isProcessing = true;
            obj.disabled = true;

            fetch(`/send/${this.chain}/${this.address}`).then(response => response.json()).then(data => {
              this.isProcessing = false;
              obj.disabled = false;

              const alertType = data.result.code === 0 ? 'success' : 'danger';
              const alertMessage = data.result.code === 0 ? 'Token sent' : 'Request failed';
              this.message = `
                <div class="alert alert-${alertType} alert-dismissible fade show" role="alert">
                  <strong>${alertMessage}</strong>
                  <div class="mt-2">
                    <span class="d-block text-primary">Transaction Hash: <code>${data.txhash}</code></span>
                    <button class="btn btn-outline-secondary btn-sm mt-1 ${data.result.txhash ? "" : "hidden"}" onclick="copyToClipboard('${data.txhash}')">Copy</button>
                  </div>
                </div>
              `;
              // Show the modal
              const modal = new bootstrap.Modal(document.getElementById('messageModal'));
              modal.show();
            });
          } else {
            obj.disabled = false;
            this.message = '<span class="text-danger">Address is required</span>';
            // Show the modal
            const modal = new bootstrap.Modal(document.getElementById('messageModal'));
            modal.show();
          }
          obj.disabled = false;
        }
      }
    }).mount('#app')
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script>

function copyToClipboard(text) {
                        navigator.clipboard.writeText(text).then(() => {
                          alert('Transaction hash copied to clipboard!');
                        }).catch(err => {
                          console.error('Failed to copy: ', err);
                        });
                      }
  </script>
</body>

</html>